// Place all the styles related to the auditor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_auditor_link{
	float: right;
	padding-right: 20px;
}

#new-auditor-form{
    border: black;
    padding: 20px;
    text-align: center;
}

#auditor-page{
	float: right;
	padding-right: 20px;
	padding-top: 0px;
}

#auditors-title{
	text-align: center;
}




