
<h1 style="text-align: center;"><%= @qm_resource.id %></h1>
<hr>
<p><strong>Bank_Statements:</strong> <%= @qm_resources.templates %></p>
<p><strong>Confirmations:</strong> <%= @qm_resources.training %></p>
</hr>

